@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
    /* border: 1px saddlebrown solid; */
}

/* navbar start */
.nav-list-item {
    display: inline;
}

.nav-list-item:not(:last-child) {
    /* display: inline; */
    padding-right: 1rem;
}

.letter-spacing-2 {
    letter-spacing: .2rem;
}

/* navbar end */

/* border start */
.border-none {
    border: none;
}

.border-radius-1 {
    border-radius: 0.5rem;
}

.border-radius-2 {
    border-radius: 1rem;
}

.border-radius-3 {
    border-radius: 2rem;
}

/* border end */


.shadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0rem 0.25rem 1rem;
}

.decoration-none {
    text-decoration: none;
}

.decoration-underline {
    text-decoration: underline;
}

.text-align-center {
    text-align: center;
}